In [1]:
import pandas as pd
import os

data_path = 'data'

In [2]:
# Download & load data

train_path = os.path.join(data_path, 'train.csv')
train_data = pd.read_csv(train_path)
test_path = os.path.join(data_path, 'test.csv')
test_data = pd.read_csv(test_path)

all_data = pd.concat([train_data, test_data], axis=0)

# all_data = all_data.sample(frac=0.1, random_state=42)

all_data.describe()
all_data.info()
pd.set_option('display.max_columns', None)
all_data.head()

#  #   Column                       Non-Null Count  Dtype  
# ---  ------                       --------------  -----  
#  0   Id                           79065 non-null  int64  
#  1   Address                      79065 non-null  object 
#  2   Sold Price                   47439 non-null  float64
#  3   Summary                      78226 non-null  object 
#  4   Type                         79065 non-null  object 
#  5   Year built                   77123 non-null  float64
#  6   Heating                      67552 non-null  object 
#  7   Cooling                      63956 non-null  object 
#  8   Parking                      77389 non-null  object 
#  9   Lot                          56076 non-null  float64
#  10  Bedrooms                     74467 non-null  object 
#  11  Bathrooms                    73655 non-null  float64
#  12  Full bathrooms               66137 non-null  float64
#  13  Total interior livable area  75187 non-null  float64
#  14  Total spaces                 77398 non-null  float64
#  15  Garage spaces                77398 non-null  float64
#  16  Region                       79063 non-null  object 
#  17  Elementary School            70572 non-null  object 
#  18  Elementary School Score      70330 non-null  float64
#  19  Elementary School Distance   70572 non-null  float64
#  20  Middle School                50788 non-null  object 
#  21  Middle School Score          50786 non-null  float64
#  22  Middle School Distance       50788 non-null  float64
#  23  High School                  71891 non-null  object 
#  24  High School Score            71281 non-null  float64
#  25  High School Distance         71890 non-null  float64
#  26  Flooring                     57138 non-null  object 
#  27  Heating features             66517 non-null  object 
#  28  Cooling features             62432 non-null  object 
#  29  Appliances included          55716 non-null  object 
#  30  Laundry features             59083 non-null  object 
#  31  Parking features             72437 non-null  object 
#  32  Tax assessed value           72742 non-null  float64
#  33  Annual tax amount            71856 non-null  float64
#  34  Listed On                    79065 non-null  object 
#  35  Listed Price                 79065 non-null  float64
#  36  Last Sold On                 49520 non-null  object 
#  37  Last Sold Price              49520 non-null  float64
#  38  City                         79065 non-null  object 
#  39  Zip                          79065 non-null  int64  
#  40  State                        79065 non-null  object

<class 'pandas.core.frame.DataFrame'>
Int64Index: 79065 entries, 0 to 31625
Data columns (total 41 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Id                           79065 non-null  int64
 1   Address                      79065 non-null  object
 2   Sold Price                   47439 non-null  float64
 3   Summary                      78226 non-null  object
 4   Type                         79065 non-null  object
 5   Year built                   77123 non-null  float64
 6   Heating                      67552 non-null  object
 7   Cooling                      63956 non-null  object
 8   Parking                      77389 non-null  object
 9   Lot                          56076 non-null  float64
 10  Bedrooms                     74467 non-null  object
 11  Bathrooms                    73655 non-null  float64
 12  Full bathrooms               66137 non-null  float64
 13  Total interior livable area  75187 non-null  float64
 14  Total spaces                 77398 non-null  float64
 15  Garage spaces                77398 non-null  float64
 16  Region                       79063 non-null  object
 17  Elementary School            70572 non-null  object
 18  Elementary School Score      70330 non-null  float64
 19  Elementary School Distance   70572 non-null  float64
 20  Middle School                50788 non-null  object
 21  Middle School Score          50786 non-null  float64
 22  Middle School Distance       50788 non-null  float64
 23  High School                  71891 non-null  object
 24  High School Score            71281 non-null  float64
 25  High School Distance         71890 non-null  float64
 26  Flooring                     57138 non-null  object
 27  Heating features             66517 non-null  object
 28  Cooling features             62432 non-null  object
 29  Appliances included          55716 non-null  object
 30  Laundry features             59083 non-null  object
 31  Parking features             72437 non-null  object
 32  Tax assessed value           72742 non-null  float64
 33  Annual tax amount            71856 non-null  float64
 34  Listed On                    79065 non-null  object
 35  Listed Price                 79065 non-null  float64
 36  Last Sold On                 49520 non-null  object
 37  Last Sold Price              49520 non-null  float64
 38  City                         79065 non-null  object
 39  Zip                          79065 non-null  int64
 40  State                        79065 non-null  object
dtypes: float64(18), int64(2), object(21)
memory usage: 25.3+ MB

,Id,Address,Sold Price,Summary,Type,Year built,Heating,Cooling,Parking,Lot,Bedrooms,Bathrooms,Full bathrooms,Total interior livable area,Total spaces,Garage spaces,Region,Elementary School,Elementary School Score,Elementary School Distance,Middle School,Middle School Score,Middle School Distance,High School,High School Score,High School Distance,Flooring,Heating features,Cooling features,Appliances included,Laundry features,Parking features,Tax assessed value,Annual tax amount,Listed On,Listed Price,Last Sold On,Last Sold Price,City,Zip,State
0,0,540 Pine Ln,3825000.0,"540 Pine Ln, Los Altos, CA 94022 is a single f...",SingleFamily,1969.0,"Heating - 2+ Zones, Central Forced Air - Gas","Multi-Zone, Central AC, Whole House / Attic Fan","Garage, Garage - Attached, Covered",1.0,"Ground Floor Bedroom, Master Bedroom on Ground...",0.0,NaN,1.0,0.0,0.0,Los Altos,Santa Rita Elementary School,7.0,0.4,NaN,NaN,NaN,Los Altos High School,8.0,1.3,"Tile, Hardwood, Carpet","Forced air, Gas",Central,"Dishwasher, Dryer, Garbage disposal, Microwave...","Washer / Dryer, Inside, In Utility Room","Garage, Garage - Attached, Covered",886486.0,12580.0,2019-10-24,4198000.0,NaN,NaN,Los Altos,94022,CA
1,1,1727 W 67th St,505000.0,"HURRY, HURRY.......Great house 3 bed and 2 bat...",SingleFamily,1926.0,Combination,"Wall/Window Unit(s), Evaporative Cooling, See ...","Detached Carport, Garage",4047.0,3,2.0,2.0,872.0,1.0,1.0,Los Angeles,Raymond Avenue Elementary School,3.0,0.8,John Muir Middle School,2.0,1.1,Augustus F. Hawkins High A Critical Design And...,2.0,1.3,NaN,Combination,"Wall/Window Unit(s), Evaporative Cooling, See ...",NaN,Inside,"Detached Carport, Garage",505000.0,6253.0,2019-10-16,525000.0,2019-08-30,328000.0,Los Angeles,90047,CA
2,2,28093 Pine Ave,140000.0,'THE PERFECT CABIN TO FLIP! Strawberry deligh...,SingleFamily,1958.0,Forced air,NaN,0 spaces,9147.0,2,3.0,1.0,1152.0,0.0,0.0,Strawberry,NaN,NaN,NaN,NaN,NaN,NaN,Long Barn High School,NaN,10.1,NaN,Forced air,NaN,NaN,NaN,NaN,49627.0,468.0,2019-08-25,180000.0,NaN,NaN,Strawberry,95375,CA
3,3,10750 Braddock Dr,1775000.0,Rare 2-story Gated 5 bedroom Modern Mediterran...,SingleFamily,1947.0,Central,Central Air,"Detached Carport, Driveway, Garage - Two Door",NaN,5,3.0,3.0,2612.0,0.0,0.0,Culver City,Farragut Elementary School,9.0,0.2,Culver City Middle School,7.0,0.2,Culver City High School,8.0,0.2,"Wood, Tile",Central,Central Air,Dishwasher,"Stackable, Upper Level","Detached Carport, Driveway, Garage - Two Door",1775000.0,20787.0,2019-10-24,1895000.0,2016-08-30,1500000.0,Culver City,90230,CA
4,4,7415 O Donovan Rd,1175000.0,Beautiful 200 acre ranch land with several pas...,VacantLand,NaN,NaN,NaN,0 spaces,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Creston,Santa Margarita Elementary School,6.0,8.5,Atascadero Middle School,5.0,10.2,Atascadero High School,6.0,10.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-06-07,1595000.0,2016-06-27,900000.0,Creston,93432,CA

In [23]:
# Prepare data and features
#  #   Column                       Non-Null Count  Dtype',
# ---  ------                       --------------  -----',
#  0   Id                           79065 non-null  int64',
#  2   Sold Price                   47439 non-null  float64
#  4   Type                         79065 non-null  object',
#  5   Year built                   77123 non-null  float64
#  9   Lot                          56076 non-null  float64
#  10  Bedrooms                     74467 non-null  object',
#  11  Bathrooms                    73655 non-null  float64
#  12  Full bathrooms               66137 non-null  float64
#  13  Total interior livable area  75187 non-null  float64
#  18  Elementary School Score      70330 non-null  float64
#  21  Middle School Score          50786 non-null  float64
#  24  High School Score            71281 non-null  float64
#  32  Tax assessed value           72742 non-null  float64
#  33  Annual tax amount            71856 non-null  float64
#  34  Listed On                    79065 non-null  object',
#  35  Listed Price                 79065 non-null  float64
#  36  Last Sold On                 49520 non-null  object',
#  37  Last Sold Price              49520 non-null  float64
#  38  City                         79065 non-null  object',
#  39  Zip                          79065 non-null  int64',
#  40  State                        79065 non-null  object',

features = [
    'Year built',
    'Lot',
    'Bedrooms',
    'Bathrooms',
    'Full bathrooms',
    'Total interior livable area',
    'Elementary School Score',
    'Middle School Score',
    'High School Score',
    'Tax assessed value',
    'Annual tax amount',
    'Listed On',
    'Listed Price',
    'Last Sold On',
    'Last Sold Price',
    'City',
    'Zip',
    'State',
]

# Already excluded Id and label
all_features = all_data.loc[:, features]

# Process numeric columns
all_features['Bedrooms'] = pd.to_numeric(
    all_features['Bedrooms'], errors='coerce').astype('float64')
all_features['Listed On'] = pd.to_datetime(
    all_features['Listed On'], errors='coerce')
all_features['Last Sold On'] = pd.to_datetime(
    all_features['Last Sold On'], errors='coerce')
all_features['Zip'] = all_features['Zip'].astype('object')
# Datetime features needs further processing to be better numeric feature
# Skip datetime features for now
all_features = all_features.drop(['Listed On', 'Last Sold On'], axis=1)
# Simplify dataset
all_features = all_features.drop(['City', 'Zip', 'State'], axis=1)

numeric_features = all_features.select_dtypes('float64').columns
other_features = all_features.columns.difference(numeric_features)
print(numeric_features, other_features)

all_features[numeric_features] = all_features[numeric_features].fillna(
    all_features[numeric_features].mean()).apply(
    lambda x: (x - x.mean()) / x.std()).apply(
    lambda x: x.astype('float32'))

Index(['Year built', 'Lot', 'Bedrooms', 'Bathrooms', 'Full bathrooms',
       'Total interior livable area', 'Elementary School Score',
       'Middle School Score', 'High School Score', 'Tax assessed value',
       'Annual tax amount', 'Listed Price', 'Last Sold Price'],
      dtype='object') Index([], dtype='object')

In [24]:
# Process object columns - get_dummies which is computation intensive
# Type column has 500+ values
# Ele/mid/high schools have 5000+ values
all_features = pd.get_dummies(all_features, dummy_na=True)

# We use rest_data to train. Id is not a feature. Sold Price is label
ids = all_data['Id']
labels = all_data['Sold Price'].astype('float32')

all_features.info()
all_features.head(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 79065 entries, 0 to 31625
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year built                   79065 non-null  float32
 1   Lot                          79065 non-null  float32
 2   Bedrooms                     79065 non-null  float32
 3   Bathrooms                    79065 non-null  float32
 4   Full bathrooms               79065 non-null  float32
 5   Total interior livable area  79065 non-null  float32
 6   Elementary School Score      79065 non-null  float32
 7   Middle School Score          79065 non-null  float32
 8   High School Score            79065 non-null  float32
 9   Tax assessed value           79065 non-null  float32
 10  Annual tax amount            79065 non-null  float32
 11  Listed Price                 79065 non-null  float32
 12  Last Sold Price              79065 non-null  float32
dtypes: float32(13)
memory usage: 4.5 MB

,Year built,Lot,Bedrooms,Bathrooms,Full bathrooms,Total interior livable area,Elementary School Score,Middle School Score,High School Score,Tax assessed value,Annual tax amount,Listed Price,Last Sold Price
0,4.911225e-02,-2.195468e-02,7.904897e-16,-2.132244e+00,0.000000,-6.718465e-03,0.660300,0.000000,9.787579e-01,0.203070,0.320225,1.407145,0.000000
1,-2.882172e-01,-2.171401e-02,-4.958514e-02,-3.489175e-01,-0.116362,-5.330205e-03,-1.387361,-2.005400,-2.212942e+00,-0.182542,-0.197337,-0.282410,-0.461316
2,-3.718133e-02,-2.141064e-02,-9.395974e-01,5.427458e-01,-1.276596,-4.883922e-03,0.000000,0.000000,4.724665e-16,-0.642839,-0.670562,-0.441107,0.000000
3,-1.234749e-01,6.924860e-18,1.730440e+00,5.427458e-01,1.043872,-2.556874e-03,1.684131,1.079896,9.787579e-01,1.101192,0.991574,0.347781,1.005130
4,-3.567434e-15,6.924860e-18,7.904897e-16,-3.959781e-16,0.000000,1.449615e-18,0.148385,-0.154222,-8.514215e-02,0.000000,0.000000,0.209783,0.254390
5,-4.529595e-01,-2.174203e-02,-4.958514e-02,-3.489175e-01,-0.116362,-4.630497e-03,0.000000,0.000000,-2.212942e+00,-0.482672,-0.501804,-0.420454,-0.621474
6,-2.882172e-01,6.924860e-18,7.904897e-16,-3.959781e-16,0.000000,1.449615e-18,1.172216,0.000000,4.724665e-16,0.913180,0.863390,0.211623,-0.246104
7,3.315276e-01,8.340049e-02,-4.958514e-02,-3.489175e-01,-0.116362,-2.705103e-03,-0.875446,0.000000,-2.212942e+00,0.000000,0.000000,-0.294370,0.000000
8,3.001481e-01,6.924860e-18,8.404272e-01,5.427458e-01,1.043872,-4.168275e-03,1.172216,1.696956,4.468079e-01,0.405841,0.419450,0.235082,0.000000
9,8.049173e-02,-1.801623e-02,-2.719622e+00,-3.489175e-01,-0.116362,-3.336275e-03,0.148385,0.000000,4.468079e-01,-0.523421,-0.552685,-0.040913,0.000000

In [25]:
processed_data = pd.concat([ids, labels, all_features], axis=1)

groups = processed_data.groupby(
    processed_data['Sold Price'].notna())

labeled = groups.get_group(True)
unlabeled = groups.get_group(False)

In [6]:
# labeled_path = os.path.join(data_path, 'labeled.csv')
# unlabeled_path = os.path.join(data_path, 'unlabeled.csv')
# labeled.to_csv(labeled_path, index=False)
# unlabeled.to_csv(unlabeled_path, index=False)

In [7]:
# labeled_path = os.path.join(data_path, 'labeled.csv')
# unlabeled_path = os.path.join(data_path, 'unlabeled.csv')
# labeled = pd.read_csv(labeled_path)
# unlabeled = pd.read_csv(unlabeled_path)

In [26]:
# Split train and validation dataset
# # k-fold split
# def kfold(k, i, X, y):
#     assert k > 1
#     fold_size = X.shape[0] // k
#     start = i * fold_size
#     end = min(X.numel(), (i + 1) * fold_size)
#     val_X = X[start:end, :]
#     val_y = y[start:end]
#     train_X = X.cat([X[:start, :], X[end:, :]], dim=0)
#     train_y = y.cat([y[:start], y[end:]], dim=0)
#     return train_X, train_y, val_X, val_y
# 
# def kfold_df(k, i, annotated_df):
#     assert k > 1
#     fold_size = len(annotated_df) // k
#     start = i * fold_size
#     end = min(len(annotated_df), (i + 1) * fold_size)
#     val_df = annotated_df.iloc[start:end, :]
#     train_df = annotated_df.drop(val_df.index)
#     return train_df, val_df
# 
# t, v = kfold_df(5, 0, labeled)

size = len(labeled)
val_size = size // 5
t = labeled.iloc[:size - val_size]
v = labeled.iloc[-val_size:]

t.info()
v.info()

t.head(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37952 entries, 0 to 37951
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Id                           37952 non-null  int64
 1   Sold Price                   37952 non-null  float32
 2   Year built                   37952 non-null  float32
 3   Lot                          37952 non-null  float32
 4   Bedrooms                     37952 non-null  float32
 5   Bathrooms                    37952 non-null  float32
 6   Full bathrooms               37952 non-null  float32
 7   Total interior livable area  37952 non-null  float32
 8   Elementary School Score      37952 non-null  float32
 9   Middle School Score          37952 non-null  float32
 10  High School Score            37952 non-null  float32
 11  Tax assessed value           37952 non-null  float32
 12  Annual tax amount            37952 non-null  float32
 13  Listed Price                 37952 non-null  float32
 14  Last Sold Price              37952 non-null  float32
dtypes: float32(14), int64(1)
memory usage: 2.6 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9487 entries, 37952 to 47438
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Id                           9487 non-null   int64
 1   Sold Price                   9487 non-null   float32
 2   Year built                   9487 non-null   float32
 3   Lot                          9487 non-null   float32
 4   Bedrooms                     9487 non-null   float32
 5   Bathrooms                    9487 non-null   float32
 6   Full bathrooms               9487 non-null   float32
 7   Total interior livable area  9487 non-null   float32
 8   Elementary School Score      9487 non-null   float32
 9   Middle School Score          9487 non-null   float32
 10  High School Score            9487 non-null   float32
 11  Tax assessed value           9487 non-null   float32
 12  Annual tax amount            9487 non-null   float32
 13  Listed Price                 9487 non-null   float32
 14  Last Sold Price              9487 non-null   float32
dtypes: float32(14), int64(1)
memory usage: 667.1 KB

,Id,Sold Price,Year built,Lot,Bedrooms,Bathrooms,Full bathrooms,Total interior livable area,Elementary School Score,Middle School Score,High School Score,Tax assessed value,Annual tax amount,Listed Price,Last Sold Price
0,0,3825000.0,4.911225e-02,-2.195468e-02,7.904897e-16,-2.132244e+00,0.000000,-6.718465e-03,0.660300,0.000000,9.787579e-01,0.203070,0.320225,1.407145,0.000000
1,1,505000.0,-2.882172e-01,-2.171401e-02,-4.958514e-02,-3.489175e-01,-0.116362,-5.330205e-03,-1.387361,-2.005400,-2.212942e+00,-0.182542,-0.197337,-0.282410,-0.461316
2,2,140000.0,-3.718133e-02,-2.141064e-02,-9.395974e-01,5.427458e-01,-1.276596,-4.883922e-03,0.000000,0.000000,4.724665e-16,-0.642839,-0.670562,-0.441107,0.000000
3,3,1775000.0,-1.234749e-01,6.924860e-18,1.730440e+00,5.427458e-01,1.043872,-2.556874e-03,1.684131,1.079896,9.787579e-01,1.101192,0.991574,0.347781,1.005130
4,4,1175000.0,-3.567434e-15,6.924860e-18,7.904897e-16,-3.959781e-16,0.000000,1.449615e-18,0.148385,-0.154222,-8.514215e-02,0.000000,0.000000,0.209783,0.254390
5,5,221000.0,-4.529595e-01,-2.174203e-02,-4.958514e-02,-3.489175e-01,-0.116362,-4.630497e-03,0.000000,0.000000,-2.212942e+00,-0.482672,-0.501804,-0.420454,-0.621474
6,6,1589000.0,-2.882172e-01,6.924860e-18,7.904897e-16,-3.959781e-16,0.000000,1.449615e-18,1.172216,0.000000,4.724665e-16,0.913180,0.863390,0.211623,-0.246104
7,7,480000.0,3.315276e-01,8.340049e-02,-4.958514e-02,-3.489175e-01,-0.116362,-2.705103e-03,-0.875446,0.000000,-2.212942e+00,0.000000,0.000000,-0.294370,0.000000
8,8,1590000.0,3.001481e-01,6.924860e-18,8.404272e-01,5.427458e-01,1.043872,-4.168275e-03,1.172216,1.696956,4.468079e-01,0.405841,0.419450,0.235082,0.000000
9,9,1275000.0,8.049173e-02,-1.801623e-02,-2.719622e+00,-3.489175e-01,-0.116362,-3.336275e-03,0.148385,0.000000,4.468079e-01,-0.523421,-0.552685,-0.040913,0.000000

In [27]:
import torch
from torch.utils import data
import torch.nn as nn
import torch.nn.functional as F

# Define dataset and model
class HousePriceDataset(data.Dataset):
    def __init__(self, annotated_df, transform=None, 
                 target_transform=None):
        self.examples = annotated_df
        self.transform = transform
        self.target_transform = target_transform
        
    def __len__(self):
        return len(self.examples)
    
    def __getitem__(self, idx):
        example = self.examples.iloc[idx]
        # col1: Id, col2: Label (Sold Price), col rest: features
        X = torch.from_numpy(example[2:].values).float()
        y = torch.from_numpy(example[1:2].values).float()
        
        if self.transform:
            X = self.transform(X)
        if self.target_transform:
            y = self.target_transform(y)
            
        return X, y

class HousePriceNet(nn.Module):
    def __init__(self):
        super().__init__()
        num_inputs = 13
        num_hiddens1 = 6
        num_outputs = 1
        self.linear1 = nn.Linear(num_inputs, num_hiddens1)
        self.linear2 = nn.Linear(num_hiddens1, num_outputs)
        self.relu = nn.ReLU()
        self.verbose = False
        
    def forward(self, X):
        input = X
        if self.verbose:
            print(f'input: {input}')
        X = self.linear1(X)
        if self.verbose:
            print(f'linear1: {X}')
        X = self.relu(X)
        if self.verbose:
            print(f'relu: {X}')
        output = self.linear2(X)
        if self.verbose:
            print(f'linear2: {output}')
        return output
    
    def set_verbose(self, val):
        self.verbose = val

In [31]:
# Train and validate

def train_epoch(net, train_iter, loss, updater):
    train_l = 0
    b = 0
    train_cnt = 0
    for X, y in train_iter:
        y_hat = net(X)
        l = loss(y_hat, y).sum()
        train_l += l
        updater.zero_grad()
        l.backward()
        updater.step()
        b += 1
        train_cnt += y.numel()
        if b % 9 == 0:
            print(f"batch {b}, train loss {train_l/train_cnt:8f}")
        
    return train_l / len(train_iter.dataset)

def validate(net, test_iter, loss):
    test_l = 0
    with torch.no_grad():
        for X, trues in test_iter:
            preds = net(X)
            test_l += loss(preds, trues).sum()

    return test_l / len(test_iter.dataset)

torch.manual_seed(42)

def y_transform(y):
    # log plus exp is very cpu intensive. it takes forever to process 40000 examples
    return y / 1000000

def rmse(y_hat, y):
    mse = nn.MSELoss()
    # print(torch.cat([y_hat, y, (y_hat - y) / y], axis=1))
    return mse((y_hat - y) / y, torch.zeros_like(y))

batch_size = 500
train_dataset = HousePriceDataset(t, target_transform=y_transform)
train_iter = data.DataLoader(train_dataset, batch_size, shuffle=True)
test_dataset = HousePriceDataset(v, target_transform=y_transform)
test_iter = data.DataLoader(test_dataset, batch_size, shuffle=False)

net = HousePriceNet()
loss = rmse
lr = 0.0005
updater = torch.optim.Adam(net.parameters(), lr)

epoch = 6
for e in range(epoch):
    train_loss = train_epoch(net, train_iter, loss, updater)
    test_loss = validate(net, test_iter, loss)
    print(f"epoch {e}, train loss {train_loss:8f}, test loss {test_loss:8f}")

batch 9, train loss 0.001534
batch 18, train loss 0.001506
batch 27, train loss 0.001475
batch 36, train loss 0.001449
batch 45, train loss 0.001423
batch 54, train loss 0.001458
batch 63, train loss 0.001428
batch 72, train loss 0.001400
epoch 0, train loss 0.001390, test loss 0.001131
batch 9, train loss 0.001150
batch 18, train loss 0.001137
batch 27, train loss 0.001130
batch 36, train loss 0.001211
batch 45, train loss 0.001179
batch 54, train loss 0.001155
batch 63, train loss 0.001134
batch 72, train loss 0.001118
epoch 1, train loss 0.001113, test loss 0.001004
batch 9, train loss 0.000981
batch 18, train loss 0.000979
batch 27, train loss 0.001079
batch 36, train loss 0.001050
batch 45, train loss 0.001024
batch 54, train loss 0.001003
batch 63, train loss 0.000989
batch 72, train loss 0.000973
epoch 2, train loss 0.000970, test loss 0.000953
batch 9, train loss 0.001175
batch 18, train loss 0.001022
batch 27, train loss 0.000965
batch 36, train loss 0.000936
batch 45, train loss 0.000914
batch 54, train loss 0.000906
batch 63, train loss 0.000892
batch 72, train loss 0.000877
epoch 3, train loss 0.000876, test loss 0.000905
batch 9, train loss 0.000788
batch 18, train loss 0.000808
batch 27, train loss 0.000790
batch 36, train loss 0.000792
batch 45, train loss 0.000784
batch 54, train loss 0.000778
batch 63, train loss 0.000772
batch 72, train loss 0.000809
epoch 4, train loss 0.000807, test loss 0.000891
batch 9, train loss 0.000699
batch 18, train loss 0.000709
batch 27, train loss 0.000712
batch 36, train loss 0.000716
batch 45, train loss 0.000722
batch 54, train loss 0.000718
batch 63, train loss 0.000723
batch 72, train loss 0.000717
epoch 5, train loss 0.000757, test loss 0.000883

In [32]:
# Save model in case kernel crashes
model_path = os.path.join(data_path, 'new_v1.3.model')
torch.save(net.state_dict(), model_path)

In [18]:
# Load model
model_path = os.path.join(data_path, 'new_v1.3.model')
net = HousePriceNet()
net.set_verbose(False)
net.load_state_dict(torch.load(model_path))

In [33]:
# Test and generate submission

sub_batch_size = 1000
sub_dataset = HousePriceDataset(unlabeled)
sub_iter = data.DataLoader(sub_dataset, sub_batch_size, shuffle=False)

def predict(net, sub_iter):
    net.eval()
    results = torch.Tensor([])
    for X, _ in sub_iter:
        preds = net(X) * 1000000
        results = torch.cat((results, preds), dim=0)
    return results

preds = predict(net, sub_iter)

In [34]:
preds_df = pd.DataFrame(data=preds.detach().numpy(), columns=['Sold Price'])
preds_df.set_index(unlabeled['Id'].index, inplace=True)
submission = pd.concat([unlabeled['Id'], preds_df], axis=1)

len(submission), submission.head()

(31626,
       Id    Sold Price
 0  47439  722265.75000
 1  47440  257519.12500
 2  47441  704663.87500
 3  47442  622245.68750
 4  47443  393885.34375)

In [49]:
preds_df = all_data[all_data['Sold Price'].isnull()][['Id', 'Listed Price']]
preds_df = preds_df.rename(columns={'Listed Price': 'Sold Price'})
preds_df.head()
submission = preds_df

In [50]:
sub_results_path = os.path.join(data_path, 'new_v1.4_results.csv')
submission.to_csv(sub_results_path, index=False)